doctype html
html lang=I18n.locale
  head
    title CSVImporter
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

body
  = yield
